@use "../utils/mixins";
@use "../utils/variables";

.page-wrapper {
    @include mixins.transition(all 0.5s ease);
    margin: 0 0 0 252px ;
    padding: 50px 0 0;
    position: relative;
    left: 0;
    @include mixins.transition(all 0.2s ease);
    @include mixins.respond-below(lg) {
        margin: 0;
        padding:50px 0 0 ;
    }
    .content {
        padding: 24px;
        padding-bottom: 0;
        min-height: calc(100vh - 105px);
        @include mixins.respond-below(lg) {
            padding: 15px;
            padding-bottom: 0;
        }
        &.content-two {
            padding-bottom: 24px;
            @include mixins.respond-below(md) {
                padding-bottom: 15px;
            }
        }
    }
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .breadcrumb {
        margin-bottom: 0;
    }
    @include mixins.respond-below(sm) {
        flex-direction: column;
        align-items: self-start;
    }
    .page-title {
        margin-bottom: 10px;
    }
    h3{
        font-weight: variables.$font-weight-bold;
        color: variables.$gray-900;
        font-size: variables.$font-size-18;
        @include mixins.respond-below(lg) {
            font-size: variables.$font-size-base;
        }
    }
    h4 {
        font-weight: variables.$font-weight-semibold;
        color: variables.$gray-900;
        font-size: variables.$font-size-18;
        margin-bottom: 5px;
        @include mixins.respond-below(lg) {
            font-size: variables.$font-size-18;
        }
    }
    h6 {
        font-size: variables.$font-size-base;
        color: variables.$gray-700;
        font-weight: variables.$font-weight-normal;
        @include mixins.respond-below(lg) {
            font-size: variables.$font-size-12;
        }
        @include mixins.respond-below(sm) {
            font-size: variables.$font-size-12;
            margin-bottom: 20px;
        }
    }
}
