.theme-btn{
  display:inline-flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  transition:all 0.3s ease;
  z-index: 0;
  .btn-title {
    position: relative;
  }
}


/*Btn Style One*/
.btn-style-one {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  padding: 17px 51px;
  font-weight: 600;
  letter-spacing: 0.7px;
  overflow: hidden;
  text-transform: uppercase;
  color: var(--theme-color-light);
  background: var(--bg-theme-color1);
  [data-tm-layout="dark"] & {
    color: var(--headings-color);
  }
  @include media-breakpoint-down(sm){
    font-size: 12px;
    padding: 10px 28px;
  }
  &:before {
    position: absolute;
    left: 0;
    top: 0%;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--bg-theme-color2);
    [data-tm-layout="dark"] & {
      background-color: var(--dark-color3);
    }
    transform: scale(1, 0);
    transform-origin: bottom left;
    transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000), -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    z-index: -1;
  }
  &:hover:before {
    transform-origin: top right;
    transform: scale(1, 1);
  }
  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    color: var(--theme-color-light);
    [data-tm-layout="dark"] & {
      color: var(--headings-color);
    }
  }
  &.hvr-light:hover{
    color: var(--theme-color2);
  }
  &.hvr-light:before{
    background-color: var(--theme-color-light);
  }
  &.bg-light:not(hover){
    background-color: var(--theme-color1) !important;
    color: #fff;
    &:before {
      background-color: var(--theme-color-light);
    }
    &:hover {
      color: #000;
      height: calc(100% + 1px);
    }
  }
  &.bg-dark:before{
    background-color: var(--theme-color2) !important;
    color: var(--theme-color-light) !important;
  }
  &.bg-dark{
    background-color: var(--theme-color1) !important;
  }
  &.btn-round {
    border-radius: 50px;
  }
}


/*Btn Style two*/
.btn-style-two {
  background: var(--bg-theme-color1);
  color: var(--theme-color-light);
  [data-tm-layout="dark"] & {
    color: var(--headings-color);
  }
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 24px;
  overflow: hidden;
  padding: 15px 50px;
  position: relative;
  text-transform: uppercase;
  z-index: -1;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--bg-theme-color2);
    transform: scale(1, 0);
    transform-origin: bottom left;
    transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000), -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  }
  &:hover:before {
    transform-origin: top right;
    transform: scale(1, 1);
  }
  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    color: var(--theme-color-light);
    [data-tm-layout="dark"] & {
      color: var(--headings-color);
    }
    &:before{
      [data-tm-layout="dark"] & {
        background-color: var(--dark-color1);
      }
    }
  }
  &.hvr-light:hover {
    color: var(--theme-color2);
  }
  &.hvr-light:before {
    background-color: var(--theme-color-light);
  }
}

/*Btn Style Three*/
.btn-style-three{
  position: relative;
  font-size: 13px;
  line-height: 24px;
  padding: 15px 50px;
  font-weight: 700;
  letter-spacing: 0.1em;
  overflow: hidden;
  text-transform: uppercase;
  background: var(--bg-theme-color3);
  color: var(--theme-color1);
  [data-tm-layout="dark"] & {
    background: var(--dark-color3);
    color: var(--headings-color);
  }
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--bg-theme-color1);
    [data-tm-layout="dark"] & {
      background-color: var(--dark-color1);
    }
    transform: scale(1, 0);
    transform-origin: bottom left;
    transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000), -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  }
  &:hover:before {
    transform-origin: top right;
    transform: scale(1, 1);
  }
  &:hover {
    color: var(--theme-color-light);
    [data-tm-layout="dark"] & {
      color: var(--headings-color);
    }
  }
}


.theme-btn.small{
  padding: 10px 40px;
  line-height: 20px;
  font-size: 12px;
}