/*** 

====================================================================
    Clients Section
====================================================================

***/

.clients-section{
  position: relative;
  background-color: rgb(198, 148, 83, .10);
  .sponsors-outer {
    padding: 40px 0;
  }
  &.style-two {
    padding: 0 0 284px;
    @include media-breakpoint-down(lg){
      padding: 0 0 200px;
    }
    .bg-image {
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        background-color: rgb(198, 148, 83, .95);
      }
    }
    .sponsors-outer {
      border-bottom: 1px solid rgb(255, 255, 255, .3);
      position: relative;
      z-index: 1;
      @include media-breakpoint-down(md){
        padding: 0;
      }
    }
    .client-block {
      .image {
        opacity: 50%;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &.style-three {
    background-color: transparent;
    padding: 112px 0 96px;
    @include media-breakpoint-down(lg){
      padding: 83px 0 55px;
    }
    .text {
      font-size: 18px;
      @include media-breakpoint-down(md){
        font-size: 16px;
      }
    }
    .sponsors-outer {
      padding: 0;
    }
  }
  &.style-four {
    border-top: 1px solid rgb(0, 0, 0, 10%);
    background-color: transparent;
    .owl-carousel {
      .owl-item {
        img {
          filter: brightness(0) invert(0);
        }
      }
    }
    .client-block{
      .image {
        img{
          [data-tm-layout="dark"] & {
            filter: grayscale(1);
          }
        }
        &:hover{
          img {
            &:first-child{
              transform: translateY(0) scaleY(1);
              opacity: 1;
              filter: blur(0);
              filter: brightness(0) invert(0);
            }
            &:nth-child(2){
              transform: translateY(-50%) scaleY(2);
              opacity: 0;
              filter: blur(10px);
              filter: brightness(0) invert(0);
            }
          }
        }
      }
    }
  }

}

.client-block{
  position: relative;
  overflow: hidden;
  text-align: center;
  .image {
    position: relative;
    padding: 20px 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    min-height: 130px;
    @include flex-center;
    @include transition(all 300ms ease);
    &:hover{
      img {
        &:first-child{
          transform: translateY(0) scaleY(1);
          opacity: 1;
          filter: blur(0);
        }
        &:nth-child(2){
          transform: translateY(-50%) scaleY(2);
          opacity: 0;
          filter: blur(10px);
        }
      }
    }
  }
  img{
    position:relative;
    width: auto !important;
    display: inline-block !important;
    @include transition(all 500ms ease);
    &:first-child{
      position:absolute;
      left:0px;
      right:0px;
      top:0px;
      bottom:0px;
      z-index:1;
      margin: auto;
      transform: translateY(50%) scaleY(2);
      opacity: 0;
      filter: blur(10px);
    }
  }
}
.clients-carousel{
  position: relative;
  .client-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .client-item {
    a{
      display: block;
      padding: 35px 0;
      position: relative;
      transition: all 300ms ease;
      &.active {
        background-color: #ebeef5;
      }
    }
    img {
      display: inline-block;
      height: auto;
      max-width: 100%;
      opacity: 0.2;
      transition: all 0.3s ease;
      width: auto;
    }
    &:hover{
      img {
        transform: rotateY(360deg);
      }
    }
  }
}

/*** 

====================================================================
    Clients Section Two
====================================================================

***/

.clients-section-two {
  position: relative;
  .sponsors-outer {
    padding: 0;
  }
}

.client-block-two {
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0, 10%);
  border-right: 1px solid rgb(0, 0, 0, 10%);
  .image {
    position: relative;
    padding: 20px 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 0;
    min-height: 200px;
    @include flex-center;
    @include transition(all 300ms ease);
    &:hover{
      img {
        opacity: 1;
        &:first-child{
          transform: translateY(0) scaleY(1);
          opacity: 1;
          filter: blur(0);
        }
        &:nth-child(2){
          transform: translateY(-50%) scaleY(2);
          opacity: 0;
          filter: blur(10px);
        }
      }
    }
  }
  img{
    position:relative;
    width: auto !important;
    display: inline-block !important;
    opacity: 30%;
    @include transition(all 500ms ease);
    &:first-child{
      position:absolute;
      left:0px;
      right:0px;
      top:0px;
      bottom:0px;
      z-index:1;
      margin: auto;
      transform: translateY(50%) scaleY(2);
      opacity: 0;
      filter: blur(10px);
    }
  }
}
.clients-carousel-two {
  position: relative;
  .client-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .client-item {
    a{
      display: block;
      padding: 35px 0;
      position: relative;
      transition: all 300ms ease;
      &.active {
        background-color: #ebeef5;
      }
    }
    img {
      display: inline-block;
      height: auto;
      max-width: 100%;
      opacity: 0.2;
      transition: all 0.3s ease;
      width: auto;
    }
    &:hover{
      img {
        transform: rotateY(360deg);
      }
    }
  }
}